body {
  background-color: #1d1d1d;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: myFont;
  src: url(./myFont.ttf);
}

* {
  font-family: sans-serif;
}

.labelMain {
  width: 300px;
  margin: auto;
  text-align: center;
  display: block;
  color: #fdfdfdda;
  background-color: transparent;

  font-weight: bold;
  font-size: 23px;
  /* color: rgb(68, 114, 116); */
}




#didd {
  width: 100%;
  display: block;
  margin: auto;
  scroll-behavior: smooth;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.name {
  position: sticky;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.8);
}

.dis {
  display: none;
}

.ddis {
  display: block;
}

@media screen and (max-width:400px) {
  .column {
    /* width: 90%; */
    flex: 100%;
  }
}

@media screen and (max-width:800px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width:1200px) {
  .column {
    flex: 33%;
  }
}

@media screen and (min-width:1200px) {
  .column {
    flex: 21%;

  }
}


#NavDiv {
  width: 100%;
  position: sticky;
  padding: 0;
  margin: auto;
  top: 0px;
  padding: 0;
  height: 60px;
  background-color: #1d1d1d;
  z-index: 1;
}

#nav-icon {
  font-size: 34px;
  color: white;
  display: inline-block;
  position: relative;
  top: 13px;
  left: 13px;
  /* margin-bottom: 13px;
  margin-left: 10px; */
  cursor: pointer;
}


#logo {
  font-family: monospace;
  font-size: 50px;
  text-align: center;
  position: sticky;
  display: block;
  height: auto;
  width: auto;
  margin-top: 0px;
  margin: auto;
  top: 11px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
  transform: scale();
  font-weight: bold;
}

#logo::after {
  width: 90px;
}


.slider {
  width: 310px;
  height: 100vh;
  top: 0px;
  left: 0;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.233);
  transition: left 0.2s ease-in-out;
  z-index: 4;
}

.sliDiv:hover,
.sliDiv--active {
  color: #eeeeee7c;
  font-weight: bold;
}
li {
  list-style-type: none;
}
.sliDiv {
  width: 98%;
  margin-left: 8%;
  display: flex;
  height: 40px;
  cursor: pointer;
  font-size: 22px;
  top: 0;
  margin-top: 9px;
  text-decoration: none;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
}

.material-icons {
  margin-right: 15px;
  font-size: 25px;
}



#navBar p {
  font-size: 35px;
  text-align: center;
  position: relative;
  align-items: center;
  height: 50px;
  width: 190px;
  margin: auto;
  top: 2px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  display: block;
  z-index: 1;
}

.nameDiv {
  color: rgb(38, 77, 32);
}


.lseFlex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 0.5vw;
}

@media screen and (max-width:400px) {
  .lseFlex {
    flex: 100%;
  }
}



.mDiv {
  text-align: center;
  margin: auto;
  min-width: 16vw;
  height: auto;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  padding: 1vw;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: #ffffff;
  box-shadow: -5px -5px 5px rgba(60, 70, 59, 0.267),
    5px 5px 5px rgba(56, 65, 55, 0.829);
}

.mmDiv {
  font-size: 20px;
  color: black;
  font-weight: bolder;
}


.homeLogo {
  display: block;
  margin: auto;
  position: relative;
  bottom: -33px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  border: 6px solid rgb(240, 15, 15);
  z-index: 2;
  background: #1D1F20;
  /* border-radius: 50%; */
}
.homeLogo::before {
  --borderWidth: 6px;
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: 50%;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#user {
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: 50%;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
  box-shadow: 0px 7px 11px linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

.running {
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  animation: animatedgradient 3s ease alternate infinite;
  box-shadow: 0px 7px 11px linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background-clip: text;
  background-size: 300% 300%;
  -webkit-text-fill-color: transparent;
}

#im {
  width: 100%;
}

#qr {
  position: relative;
  display: block;
  margin-left: 10%;
  margin: auto;
  /* margin-top: -85%; */
  top: 40px;
  width: 80%;

}

#homeQR {
  position: relative;
  top: 0px;
  border-radius: 15px;
  width: 350px;
  height: 350px;
  background-color: #ffffff;
  display: block;
  margin: auto;
}





.mDiv::before {
  color: transparent;
  background-color: #071803;
  mix-blend-mode: multiply;
}