/* .column {
   
    display: flex;
    /* flex-wrap: wrap; */
  
    /* background-color: #fdfdffda; 
    
} 
*/
   
/* @media screen and (max-width: 800px) {
    .column{
        flex: 50%;
    }
}
@media screen and (max-width: 400px) {
    .activity{
        flex-direction: column;
    }
} */
